<section>
    <header class="major">
        <h2>Belform Insulation Projects</h2>
        <!-- Marquee Component -->
        <div class="marquee" id="marquee">
            <div class="marquee-content">
                {% for project in site.belform_projects %}
                <div class="thumbnail-wrapper">
                    <a href="{{ project.url }}">
                        <img src="{{ project.image_url }}" alt="{{ project.title_1 }}">
                        <div class="caption">{{ project.title_1 }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </header>
    <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
    </ul>
</section>